<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-inverse bg-dark" >
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#"><img src="images/logositepng2.png" alt="" style="width:125px;transform :translateY(-10px);"></a>
          </div>
          
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
            
<!--             <div th:if> -->
            
<!--             </div> -->
            
            
            
  
             
              
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/decoA"><span class="glyphicon glyphicon-user"></span>Se Déconnecter</a></li>
             <!-- <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>Panier</a></li>-->
            </ul>
          </div>
        </div>
    </nav>

    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link " href="#"style="background-color:black;">
                Tableau de bord 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="commande.html">
                Les commandes 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ListeProduits">
                Les produits
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ListeClients">
                Les Clients
              </a>
            </li>
          </ul>
         
        </div>
      </nav>
  
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-8 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<!--           <h1 class="h2" >Bonjour <span th:text="${session.admin}"></span> </h1> -->
        </div>
        <h2>Les Clients</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <div>
              <tr>
                <th>#ID</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>NumTel</th>
                <th>Action</th>
              </tr>
            </div>
            <div>
              <tr th:each="cr:${listeC}">
                <td th:text="${cr.id}"></td>
                <td th:text="${cr.nom}"></td>
                <td th:text="${cr.prenom}"></td>
                <td th:text="${cr.mail}"></td>
                <td th:text="${cr.numTel}"></td>
                <td class=""><a href="#">Supprimer</a></td>
              </tr>
            </div>
          </table>
        </div>
     </main>
    </nav>
</body>
</html>